.main-container{
    background-color: $clr2;
    height: 90vh;
}
.trusted-by-container{
    background-color: rgb(212, 212, 212);
    height:60px;
}
.popular-services-container{
    height:60vh;
}
.home-info-container{
    background-color: #f1fdf7;
    height:80vh;
}
.home-explore-marketplace-container{
    height:40vh;
}
.home-fiver-business-container{
    background-color: #0d084d;
    height:80vh;
}
.home-get-inspired-container{
    background-color: #f1fdf7;
    height:60vh;
}
.footer-container{
    background-color: #2cb16e;
    height:60vh;
}