.footer-container {
    height: 10vh;
    width: 100vw;

}

.footer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    border-top: 1px solid #e4e5e7 ;
    align-items: center;
    .worker-logo {
        width: 60%;
        @media (max-width: 800px) {
            width: 100%;
            justify-content: space-evenly;
            .sworker-ltd {
                display: flex;
                justify-content: start;
                padding-top: .75rem;
            }
        }
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
    }

    .social-media-icons {
        display: flex;
        margin: 0 0 0 auto;
        @media (max-width: 800px) {
            margin: auto;
        }
        padding: 1rem 0;
        justify-content: end;
        *:not(:last-child) {
            padding-right: 2rem

        }
    }
}