.gig-list {
  margin: 0 auto;
  margin-top: 20px;
  gap: 16px;
  max-width: $screen-size-l;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gig-card {
  border: solid 1px #e4e5e7;
  width: 275px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .gig-img {
    .arrow-left {
      position: absolute;
      top: 70px;
      left: 0px;
      z-index: 5;
      background-color: white;
      width: 20px;
      border-radius: 0px 10px 10px 0px;
    }
    .arrow-right {
      position: absolute;
      top: 70px;
      right: 0px;
      z-index: 5;
      background-color: white;
      width: 20px;
      border-radius: 10px 0px 0px 10px;
    }
    img {
      max-width: 275px;
      max-height: 200px;
      position: relative;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .gig-add-by {
    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
  }
  .gig-card-footer {
    border-top: solid 1px #e4e5e7;
  }
}
.carousel__next {
  background-color: #fff;
  right: 8px;
  font-size: 24px;
  width: 48px;
  height: 48px;
  text-align: center;
  color: black;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}
.carousel__prev {
  background-color: #fff;
  right: 8px;
  font-size: 24px;
  width: 48px;
  height: 48px;
  text-align: center;
  color: black;

  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.carousel__item {
  width: 15%;
}

.breadcrumbs {
  max-width: $screen-size-l;
  margin: 0 auto;
}
.gig-categorys-boxes {
  max-width: $screen-size-l;
  margin: 0 auto;
}
.gig-filters {
  max-width: $screen-size-l;
  margin: 0 auto;
}

.click-list {
  padding: 16px 0;
}
.gig-categorys-box {
  margin: 0 16px;
  width: 15%;
  height: 150px;
  border: 1px solid #e4e5e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 17px;
  box-shadow: 0 .14px 2.29266px rgba(0,0,0,.032),0 .37px 4.42626px rgba(0,0,0,.048),0 3px 7px rgba(0,0,0,.09);
  cursor: pointer;
  
  img {
    object-fit: cover;
    height: 60px;
    width: 60px;
  }
}
