.gig-list {
  margin: 0 auto;
  margin-top: 20px;
  gap: 16px;
  max-width: $screen-size-l;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gig-card {
  border: solid 1px #e4e5e7;
  width: 275px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  .gig-img {
    .arrow-left {
      position: absolute;
      top: 70px;
      left: 0px;
      z-index: 5;
      background-color: white;
      width: 20px;
      border-radius: 0px 10px 10px 0px;
    }
    .arrow-right {
      position: absolute;
      top: 70px;
      right: 0px;
      z-index: 5;
      background-color: white;
      width: 20px;
      border-radius: 10px 0px 0px 10px;
    }
    img {
      max-width: 275px;
      max-height: 200px;
      position: relative;
    }
  }
  .gig-add-by {
    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
  }
  .gig-card-footer {
    border-top: solid 1px #e4e5e7;
  }
}

.breadcrumbs {
  max-width: $screen-size-l;
  margin: 0 auto;
}
.gig-categorys-boxes {
  max-width: $screen-size-l;
  margin: 0 auto;
}
.gig-filters {
  max-width: $screen-size-l;
  margin: 0 auto;
}
.gig-categorys-box {
  width: 70px;
  height: 150px;
  border: solid 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  
  img {
    object-fit: cover;
    height: 60px;
    width: 60px;
  }
}
