.test {
  background-color: aqua;
}
//add mixin for carousel class specific for that class.
@media only screen and (min-width: $screen-size-l) {
  .max-width-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    & h2 {
      font-size: 32px;
      line-height: 120%;
      color: #404145;
      font-family: Helvetica, Helvetica, Arial, sans-serif;
      font-weight: 700;
      padding: 0 18px;
      margin-bottom: 20px;
    }
  }
}

  .logged-out-homepage .hero-wrapper .hero-backgrounds>div {
    background-position: bottom;
  }

.carousel__slide {
  // width: auto !important;
  outline: none;
  padding: 0 18px;
  display: unset;
}

.subcategory-wrapper {
  height: 345px;
  background-color: #efeff0;
}
.subcategory-wrapper img {
  object-fit: cover;
  display: block;
  height: 345px;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
}

.subcategory {
  position: relative;
  display: block;
  text-decoration: none;
}

.subcategory h2 {
  font-size: 32px;
  line-height: 120%;
  color: #404145;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.subcategory h4 {
  position: relative;
  text-align: start;
  z-index: 1;
  color: #fff;
  padding: 16px;
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
}
.subcategory h4 small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: block;
}
