.signup-popup {
  cursor: pointer;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(1px);
  z-index: 1;
  &-modal {
    position: absolute;
    top: 0;
    left: 0;
    // background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
      font-size: 24px;
      line-height: 130%;
    }
  }
}
.signup-header {
  padding: 32px 0;
}
// .signup-popup-modal {
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.65);
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.signup-popup-modal > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 36px 24px;
  z-index: 999999999;
  height: 566px;
  width: 404px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-btn-facebook {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 12px 0;
  padding: 12px 30px 12px 16px;
  width: 100%;
  background: #4267b2;
  border: 1px solid #4267b2;

  p {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: #fff;
  }
  svg {
    fill: #fff;
  }
  &:hover {
    background: #4267b2;
    opacity: 0.9;
  }
}
.signup-google-btn {
  align-items: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 12px 0;
  padding: 12px 30px 12px 16px;
  width: 100%;
  cursor: pointer;
  p {
    color: #62646a;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }
}
.signup-form-separator {
  border-bottom: 1px solid #e4e5e7;
  height: 12px;
  margin: 20px 0 32px;
  text-align: center;
  span {
    background-color: #fff;
    color: #62646a;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 8px;
    text-transform: uppercase;
  }
}
.signup-form {
  flex-direction: column;
  width: 100%;
  input {
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #404145;
    font: inherit;
    padding: 8px 15px;
    transition: 0.15s ease-in-out;
    width: 100%;
    margin-bottom: 16px;
  }
  button {
    background-color: #1dbf73;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
    &:hover {
      background: #19a463;
    }
  }
}
