//logo
@font-face {
  font-family: BrixSlab;
  src: url(@/styles/scss/assets/fonts/BrixSlab/BrixSlab-Bold.otf);
}
@font-face {
  font-family: chank-five;
  src: url(@/styles/scss/assets/fonts/ChunkFive/ChunkFive-Regular.otf);
}

// body:

@font-face {
  font-family: domain-display-web-bold;
  src: url(@/styles/scss/assets/fonts/domaine-display-web-bold/domaine-display-web-bold.woff2);
}

@font-face {
  font-family: domaine-display-web-medium-italic;
  src: url(@/styles/scss/assets/fonts/domaine-display-web-medium-italic/macan-bold.502483a.woff2);
}

@font-face {
  font-family: macan-bold;
  src: url(@/styles/scss/assets/fonts/macan-bold/macan-bold.502483a.woff2);
}

@font-face {
  font-family: macan-light;
  src: url(@/styles/scss/assets/fonts/macan-light/macan-light.9b72a31.woff2);
}

@font-face {
  font-family: macan-regular;
  src: url(@/styles/scss/assets/fonts/macan-regular/macan-regular.3d263b5.woff2);
}

@font-face {
  font-family: macan-semibold;
  src: url(@/styles/scss/assets/fonts/macan-semibold/macan-semibold.d147812.woff2);
}

@font-face {
  font-family: bebas-regular;
  src: url(@/styles/scss/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: display;
  src: url(@/styles/scss/assets/fonts/domaine-display-web-medium-italic.woff2);
}
