// all carousel items in popular service container
#app
  > main
  > div:nth-child(2)
  > div.popular-services-container.max-width-container
  > section
  > div
  > ol
  > * {
  width: 250px;
  outline: none;
  padding: 0 18px;
  display: unset;
}

//all carousel images in gig list

.gig-preview {
  & .el-carousel.el-carousel--horizontal > ul {
    display: none;
  }
}

// all carousel images in gig preview

.gig-gallery-component
  > section
  > div
  > ol
  > li.carousel__slide.carousel__slide--active.carousel__slide--visible
  > div {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

//all carousel buttons in gig preview

.gig-gallery-component > section > ol {
  padding: 0px;
  li {
    .carousel__pagination-button {
      width: 30px;
      background-color: #4d5656;
      transition: 0.5s;
    }
    .carousel__pagination-button--active {
      background-color: #1dbf73;
      transition: 0.5ss;
    }
  }
}

//all carousel items in gig catagory page
// .page-content-container > div.click-list > div > section > div > ol > li {
//     :hover {
//         cursor: pointer;
//         box-shadow: 0 3.4623px 6.1418px rgba(0,0,0,.0523),0 7.92923px 12.9218px rgba(0,0,0,.0476886),0 9px 15px rgba(0,0,0,.08);
//     }
// }

> section.gig-overview
  > div.gig-gallery-component
  > section
  > div
  > ol
  > li.carousel__slide.carousel__slide--active.carousel__slide--visible {
  & img {
    height: 100%;
    width: 100%;
  }
}
