// all carousel items in popular service container
#app
  > main
  > div:nth-child(2)
  > div.popular-services-container.max-width-container
  > section
  > div
  > ol
  > li {
  min-width: 280px !important;
  outline: none;
  padding: 0 18px;
  display: unset;
  & div > a > a > picture img {
    // aspect-ratio: 252/345;
  }
}

//all carousel images in gig list

.gig-preview {
  & .el-carousel.el-carousel--horizontal > ul {
    display: none;
  }
}

// all carousel images in gig preview
