// gig sidebar details contact ------
@media only screen and (min-width: 1160px) {
  .gig-page .sidebar {
    width: 33.6%;
  }
}
@media only screen and (min-width: 900px) {
  .gig-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .gig-sidebar {
    width: 35.42%;
    -webkit-box-ordinal-group: 21;
    -ms-flex-order: 20;
    order: 20;
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 600px) {
  .gig-page {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.gig-page {
  max-width: 1304px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  padding: 32px 24px 0;
  .gig-main {
    margin-right: 9.15%;
    width: 57.42%;
    display: block;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.gig-overview {
  margin-bottom: 24px;
  h1 {
    padding-bottom: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 130%;
  }
  .gig-seller-overview-wrapper {
    padding-bottom: 0;
    .gig-seller-overview {
      display: flex;
      .gig-seller-pic-overview {
        border-radius: 50%;
        margin-right: 16px;
        display: inline-flex;
        position: relative;

        .gig-seller-pic {
          display: inline-flex;
          position: relative;
          font-size: 30px;
          background-color: rgb(27, 137, 150);
          margin: 0;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          min-width: 1em;
          height: 1em;
          overflow: hidden;

          .gig-seller-pic-caption {
            font-size: 49%;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
          }
          img {
            background-color: #b5b6ba;
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .gig-categories-breadcrumbs {
    padding-bottom: 10px;
    display: block;
    // font-size: 14px;
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        a {
          color: #446ee7;
          text-decoration: none;
          transition: color 0.2s;
          &:hover {
            color: #1dbf73;
            text-decoration: underline;
          }
        }
        .gig-breadcrumb-icon {
          margin: 0 8px;
          fill: #74767e;
          background: none;
          border: none;
          display: inline-block;
          padding: 0;
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  .gig-seller-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    .gig-seller-name {
      font-weight: 700;
      cursor: pointer;
      margin-right: 8px;
      color: #404145;
    }
    .gig-seller-level-wrapper {
      display: inline-flex;
      margin-right: 8px;
      .gig-seller-level {
        display: inline-flex;
      }
    }
    .gig-seller-rating {
      cursor: pointer;
      margin-right: 8px;
      display: flex;
      align-items: center;
      &::before {
        content: "|";
        color: #c5c6c9;
        margin-right: 8px;
      }
      .gig-seller-stars {
        display: inline-flex;
        padding-bottom: 4px;
        svg {
          fill: #ffb33e;
          width: 15px;
          height: 15px;
        }
        .gig-seller-star {
          &:not(:first-child) {
            padding-left: 4px;
          }
        }
      }
    }
    .gig-seller-rating-score {
      color: #ffb33e;
      padding-left: 4px;
    }
    .gig-seller-ratings-count {
      padding-left: 4px;
    }
    .gig-seller-order-queue {
      color: #95979d;
      margin-right: 8px;
    }
  }
}

.gig-sidebar {
  display: block;
  //   top: 86px;
  &-content > {
    div {
      margin-bottom: 16px;
    }
  }
}

.gig-purchase-tab {
  order: 50;
  border: 1px solid #dadbdd;
  margin: 0;
}

.gig-content {
  padding-top: 20px;
  &-div {
    width: 100%;
    padding-top: 12px;
  }
  &-package {
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
    .gig-article {
      font-size: 14px;
      .gig-additional-info {
        display: flex;
        margin-bottom: 8px;
        .gig-delivery-wrapper {
          .gig-delivery-icon {
            width: 16px;
            height: 16px;
            fill: #62646a;
          }
          .gig-delivery {
            margin-left: 8px;
          }
        }
        svg {
          float: left;
          height: 100%;
          width: 100%;
        }
      }
      .gig-additional-info > {
        * {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
      }
      .gig-revisions-wrapper {
        margin-left: 16px;
        .gig-revisions {
          margin-left: 8px;
        }
        .gig-revisions-icon {
          width: 16px;
          height: 16px;
          fill: #62646a;
        }
      }
      .gig-features {
        margin-bottom: 20px;
        .gig-feature {
          color: #95979d;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          .gig-feature-check-icon {
            fill: #dadbdd;
            padding-right: 12px;
            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
  &-header {
    padding-bottom: 10px;
    line-height: 21px;
    display: block;
    h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 28px;
      line-height: 130%;
      .gig-title {
        min-height: 48px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1 1;
        margin-bottom: 8px;
        line-height: 24px;
        font-size: 16px;
      }
      .gig-price-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-left: 10px;
      }
      span {
        font-weight: 400;
        white-space: nowrap;
        font-size: 20px;
        line-height: 24px;
      }
    }
    b {
      font-weight: bold;
    }
    p {
      min-height: 63px;
      word-break: break-word;
      font-size: 14px;
      line-height: 140%;
      margin-top: 10px;
    }
  }
  .gig-footer {
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .gig-purchase-btn {
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      padding: 12px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      -webkit-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
      -o-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
      transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
      background-color: #1dbf73;
      color: #fff;
      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
      }
    }
  }
}
.gig-contact-seller-wrapper {
  background-color: #fafafa;
  padding: 24px;
  text-align: center;
}
.gig-contact-seller-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
  -o-transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
  transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
  color: #62646a;
  background: none;
  border-color: currentColor;
  width: 100%;
}
// gig sidebar details contact ------
