.side-menu-container {
  height: 100vh;
  width: 100vw;
  left: -200%;
  position: fixed;
  //   z-index: 9999999;
}

body .side-menu {
  overflow: hidden;
}

body .side-menu-container.side-menu {
  display: flex;
  z-index: 99999;
  .toggle-menu {
    width: 50%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0);

    display: flex;
  }
  transform: translateX(200%);
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0);
  backdrop-filter: blur(2px);
  animation: blur 0.2s forwards;
  animation-delay: 0.5s;
  transition: 0.5s ease-out;

  overflow: hidden;
  nav {
    cursor: default;

    padding-top: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    .profile-avatar a {
      display: flex;
      flex-wrap: wrap;
      .user-info {
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        font-family: macan-regular;
        line-height: 1.4;
      }
    }

    li {
      color: black;
      height: 10%;
      margin-left: 2rem;
      &:hover {
        cursor: pointer;
        color: #1dbf73;
      }
      .join {
        border: solid 1px #1dbf73;
        height: 100%;
        color: #1dbf73;
        padding: 7px 20px;
        border-radius: 4px;
        position: relative;
        margin-top: -7px;
        font-family: macan-regular;
        &:hover {
          border: solid 1px #1dbf73;
          background-color: #1dbf73;
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes blur {
  25% {
    background-color: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(0.5px);
  }
  50% {
    background-color: rgba($color: #000000, $alpha: 0.2);
    backdrop-filter: blur(1px);
  }
  75% {
    background-color: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(1.5px);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(2px);
  }
}

// body.menu-active {
//   backdrop-filter: blur(2px);
//   overflow-y: hidden;
//   background-color: rgba(0, 0, 0, 0.25);
//   cursor: pointer;
//   pointer-events: none;
//   transition: 0.5s ease-out;
//   height: 100vh;
//   width: 100vw;
//   z-index: 99999999;
// }
