.side-menu-container {
  li {
    font-family: macan-regular;
  }
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  z-index: 99999;
  .toggle-menu {
    width: 50%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0);

    display: flex;
  }
  nav {
    cursor: default;

    padding-top: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    .profile-avatar a {
      display: flex;
      flex-wrap: wrap;
      
      .user-info {
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        font-family: macan-regular;
        line-height: 1.4;
      }
      .user-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li {
      color: black;
      height: 10%;
      margin-left: 1rem;
      &:hover {
        cursor: pointer;
        color: #1dbf73;
      }
      .join {
        border: solid 1px #1dbf73;
        height: 100%;
        color: #1dbf73;
        padding: 7px 20px;
        border-radius: 4px;
        position: relative;
        margin-top: -7px;
        font-family: macan-regular;
        &:hover {
          border: solid 1px #1dbf73;
          background-color: #1dbf73;
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }
  //   z-index: 9999999;
}

body .side-menu {
  overflow: hidden;
}

body .side-menu-container.show-side-menu {
  
  
  transform: translateX(0%);
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0.4);
  backdrop-filter: blur(2px);
  // animation: showSideMenu 0.1s forwards linear;
//   animation-delay: 0.5s;
  transition: .5s ease-out;

  overflow: hidden;
  
}

body .side-menu-container.hide-side-menu {
  transform: translateX(-100%);
  // background-color: rgba($color: #000000, $alpha: 0.4);
  // left: 0px;
  // backdrop-filter: blur(.5px);

  // animation: hideSideMenu 0.1s forwards linear;


  transition: 1s ease-out ;
  // transition-delay: .5s

}

@keyframes showSideMenu {
  0% {
    background-color: rgba($color: #000000, $alpha: 0);
    backdrop-filter: blur(0.5px);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(2px);
  }
  // 50% {
  //   background-color: rgba($color: #000000, $alpha: 0.2);
  //   backdrop-filter: blur(1px);
  // }
  // 75% {
  //   background-color: rgba($color: #000000, $alpha: 0.3);
  //   backdrop-filter: blur(1.5px);
  // }
  // 100% {
  //   background-color: rgba($color: #000000, $alpha: 0.4);
  //   backdrop-filter: blur(2px);
  // }
}

@keyframes hideSideMenu {
  0% {
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(2px);
  }
  100% {
    background-color: rgba($color: #000000, $alpha: 0);
    backdrop-filter: blur(0px);
  }
  // 50% {
  //   background-color: rgba($color: #000000, $alpha: 0.3);
  //   backdrop-filter: blur(1px);
  // }
  // 75% {
  //   background-color: rgba($color: #000000, $alpha: 0.2);
  //   backdrop-filter: blur(.5px);
  // }
  // 100% {
  //   background-color: rgba($color: #000000, $alpha: 0.1);
  //   backdrop-filter: blur(0px);
  // }
}

// body.menu-active {
//   backdrop-filter: blur(2px);
//   overflow-y: hidden;
//   background-color: rgba(0, 0, 0, 0.25);
//   cursor: pointer;
//   pointer-events: none;
//   transition: 0.5s ease-out;
//   height: 100vh;
//   width: 100vw;
//   z-index: 99999999;
// }
