.hero-backgrounds>div {
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    // opacity: 0;
    // display: none;
    -webkit-animation: fade 2s linear;
    animation: fade 2s linear;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.hero-wrapper {
    height: 90vh;
    opacity: 0;
    font-size: 2rem;
    width: 100vw;
    background-repeat: no-repeat;

    background-size: auto 100%;

    & p {
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: whitesmoke;
    }
}

.hero-andrea {
    background-image: $hero-andrea;
}

.hero-moon {
    background-image: $hero-moon;
}

.hero-gabrielle {
    background-image: $hero-gabrielle;
}

.hero-zack {
    background-image: $hero-zack;
}

.hero-ritika {
    background-image: $hero-ritika;
}