.prifile-page-layout-fluid {
  background-color: #f7f7f7;
}

.prifile-page-layout {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: $screen-size-l;
  gap: 40px;
  width: 100%;
  height: 60vh;
  

  .profile-page-aside-left {
    padding: 2rem;
    height: 100%;
    width: 30%;
    max-width: $screen-size-l;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .user-info {
        margin: 0 auto;
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .profile-pic {
            width: 50%;
        }
        
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      & > *:not(:first-child) {
        height: 10%;  
        display: flex;
          align-items: center;
          font-size: 1.5rem;
      }
    }
  }

  .preview-profile-btn {

  }

  .user-profile-navbar {
      display: flex;
      width: 100%;
      height: 10%;
      background-color: white;
      border: $navbar-border;
      margin-bottom: 1rem;

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        & li {
            font-family: macan-regular;
            display: flex;
            align-items: center;
            height: 100%;
            color: $clr-grey;

            &:hover {
                box-shadow: $navbar-hover-shadow;
                cursor: pointer;
                color: $clr-green;
            }
        }

        &.active {
            box-shadow: $navbar-hover-shadow;
            color: $clr-green;
        }
        
  } 

  }

  .gig-add-card {
      text-align: center;
  }

  .my-orders-label {
      flex-wrap: wrap;
      display: flex;
      height: 70%;

      .gig-card {
          height: 15rem;
          width: 12rem;
          border: 1px solid grey;
          background-color: #fff;
          margin: 0 1rem 1rem 0;
          display: flex;
          flex-direction: column;
          img {
              height: 30%;
              width: 100%;
          }
          h2 {
              flex: 1;
          }

          .gig-add-btn {
            content: '+';
            background-color: #78cdd2;
            color: #fff;
            font-size: 48px;
            font-weight: 400;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            display: block;
            margin: 80px auto 20px;
            line-height: 61px;
            &:hover {
                cursor: pointer;
            }
          }

      }
  }

  .profile-page-aside-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 50vw;

    .my-orders-label {
      display: flex;
      width: 100%;
    }
    .my-orders-list {
      height: 90px;
      background-color: rgb(17, 219, 219);
      width: 600px;
    }
    .my-orders-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .gig-preview-pic {
        margin-top: 5px;
        margin-left: 5px;
        height: 80px;
      }
      .seller-preview-pic {
        height: 60px;
        border-radius: 50%;
      }

      .seller-preview-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
