// COLOR PALETTE
$clr1: #000;
$clr2: #01411a;


// LAYOUT
// $layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$screen-size-xs: 576px;
$screen-size-s: 600px;
$screen-size-m: 900px;
$screen-size-l: 1160px;
$screen-size-xl: 1400px;
$screen-size-xxl: 1720px;

